* {
    margin: 0;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 120px;
}

.button {
    margin-top: 20px; 
}

.container {
    display: flex;
    flex-direction: column;
    height: 960px;
    width: 960px;
    border: solid 1px;
    border-radius: 20px;
    overflow: hidden;
    justify-content: space-between;
    flex-shrink: 0;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    transition: 100ms;
}